.friend-preview {
    align-items: flex-start;
    background-color: #F1F5F8;
    border-bottom: 1px solid #D6DFE6;
    border-right: 1px solid #D6DFE6;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    max-height: 120px;
    padding: 37px 40px;

    &:hover, &--active {
        background-color: #fff;
    }

    &__img {
        border-radius: 4px;
        flex: 0 0 55px;
        height: 55px;
        overflow: hidden;

        img {
            display: block;
        }
    }

    &__content {
        max-width: 58%;
        padding: 2px 25px 0;
    }

    &__name {
        font-weight: 400;
        padding-bottom: 15px;
        
    }

    &__message {
        color: #aaaaaa;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__time {
        flex: 1 0 50px; 
        padding-top: 2px;
    }

}