.header 
    .header__categories
        ul.categories-list
            li.categories-list__item
                button.categories-list__button Work
            li.categories-list__item
                button.categories-list__button Family
            li.categories-list__item
                button.categories-list__button Friends
            li.categories-list__item
                button.categories-list__button + Category
    .header__dropdown